<article class="post">
    <div class="title-wrapper">
        <h2 class="title">{{title}}</h2>
        <p>Posted by {{user.username}} on {{createdAt}}</p>
    </div>
    <div class="post-text">
        {{text}}
    </div>
    <div class="comment-wrapper">
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    </div>
</article>